# Python byte code
*.pyc

# Pycharm project
/.idea/*

# Virtual pyhton environment
/.venv/*

# Test reports
**/lily_unit_test_reports/*
# Do not ignore release test reports (have a version number)
!**/lily_unit_test_reports/*_latest.html

# Distribution output
/dist/*
/src/lily_unit_test.egg-info/*

# Twine config file (contains a token and must not be stored in the repo)
/twine.conf

# Generated documentation
/docs/_build/*
