# Python byte code
*.pyc

# Pycharm project
/.idea/*

# Virtual pyhton environment
/venv/*

# Test reports
**/lily_unit_test_reports/*

# Distribution output
/dist/*
/src/lily_unit_test.egg-info/*
